* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --primary: #fff9cc;
}

body {
    padding: 0;
    margin: 0;
}

header {
    background-color: #00000077;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 5.765625em;
    padding: 3em 12.5em;
}


a {
    text-decoration: none;
    color: var(--primary);
    font-weight: bold;
}


header a {
    font-size: 32px;
}

.logo {
    color: #ff9900;
    text-transform: uppercase;
    font-family: cursive, ;
    font-size: 1.8em;
    font-weight: 800;
}

nav a:hover {
    color: #ff9900;
    transform: scale(1.06);
}

nav a {
    padding-right: 20px;
    transition: 0.3s ease;
}

section {
    padding: 6.25em 12.5em;
}

.main {
    width: 100%;
    display: flex;
    min-height: 100vh;
    align-items: center;
    background: url(./imgs/bkg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h1 ,
.main h2 {
    color: var(--primary);
    margin-top: 5px;
    letter-spacing: 0.4px;
    margin-bottom: 20px;
}

.more {
    font-size: 1em;
    color: var(--primary);
    background-color: #ff9900;
    display: inline-block;
    padding: 0.7em 1.2em;
    margin-bottom: 1.1em;
    border-radius: 1em;
    transition: 0.3s ease;
}

.more:hover {
    transform: scale(1.1);
}

.working_websites a {
    font-size: 2.3em;
    padding-right: 5px;
    transition: 0.3s ease;
    color: var(--primary);
}

.working_websites .in:hover {
    color: #0A66C2;
}

.working_websites .ff::before {
    display: inline;
}

.working_websites .inst::before {
    display: inline;
}

.working_websites .ff:hover {
    background-image: linear-gradient(to bottom, #17A9FD, #0165E1);
    -webkit-background-clip: text;
    color: transparent;
}

.working_websites .inst:hover {
    background-image: linear-gradient(to top right, #FFDC80, #FCAF45, #F77737, #F56040, #FD1D1D, #E1306C, #C13584, #833AB4, #5851DB, #405DE6);
    -webkit-background-clip: text;
    color: transparent;
}

#services {
    position: relative;
    background-image: linear-gradient(to bottom, #292636, #ff7449);
    min-height: 100vh;
}

.title {
    text-align: center;
    color:#ff9900;
    margin-bottom: 1em;
    font-size: 3em;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

#projects .content {
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
}

#projects .content::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 3px;
}

#projects .content::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 3px;
}

#projects .content::-webkit-scrollbar-thumb:hover {
    background-color: #666;
    border-radius: 3px;
}

.cards {
    background-image: linear-gradient(to bottom, #ff744977, #292636cc);
    width: 17em;
    min-height: 20em;
    margin: 2em;
    box-shadow: 5px 5px 20px rgba(124, 124, 124, 0.5);
    border-radius: 1em;
    transition: 0.3s ease;
    padding: 1em;
}

.cards:hover {
    transform: scale(1.1);
}

.cards .icon {
    color:#ff9900;
    display: flex;
    justify-content: center;
    font-size: 2.5em;
    padding-top: 2em;
    padding-bottom: 1em;
}

.cards .info h3 {
    color:#ff9900;
    display: flex;
    padding-bottom: 0.2em;
    justify-content: center;
    font-weight: 800;
}

.info p {
    color: var(--primary);
    padding: 1em;
    font-weight: 500;
}

#lastcard {
    margin-right: 0;
}

#projects {
    min-height: calc(60vh - 5em);
    background: url(./imgs/proj-bkg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}

#projects .content {
    margin-top: 2em;
}

#right {
    position: absolute;
    left: 10px;
}

#left {
    position: absolute;
    right: 10px;
}

.container {
    display: flex;
    justify-content: center;
    -ms-scroll-snap-type: mandatory;
        scroll-snap-type: mandatory;
}

.proj-cards {
    background-image: radial-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    border: 2px rgba(255, 255, 255, 0.2);
    width: 20em;
    min-height: 14em;
    border-radius: 20px;
    box-shadow: 2px 2px 10px 10px rgba(255, 255, 255, 0);
    margin: 1.32em;
    overflow: hidden;
    transition: 0.3s ease;
}

.proj-cards:hover {
    transform: scale(1.1);
}

.proj-img img {
    width: 100%;
    height: 10em;
    opacity: 0.7;
    transition: 0.3s;
}

.proj-cards:hover .proj-img img {
    opacity: 0.5;
}

.proj-info {
    padding: 0.4em 1.2em 1.2em 1.2em;
}

.catagory {
    font-weight: 600;
}

.proj-title {
    display: flex;
    justify-content: space-between;
}

.proj-title span {
    font-weight: 900;
}

.more-detail:hover {
    color:#ff99007f;
}

#contact {
    background-color: rgb(16, 15, 10);
    display: flex;
    flex-direction: column;
}

#contact .cards {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
    box-shadow: 10px 10px 10px 1px rgba(121, 121, 121, 0.5);
    border-radius: 20px 0 20px 0;
    min-height: 23rem;
}

#contact #b {
    border-radius: 0 20px 0 20px;
}

#contact .info p {
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
}

footer {
    background-color: #222;
    height: 5em;
}

footer h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe Print', sans-serif;
    background: linear-gradient(to right,
                    rgba(255, 0, 0, 0.7),
                    rgba(255, 255, 0, 0.7),
                    rgba(0, 255, 0, 0.7),
                    rgba(0, 255, 255, 0.7),
                    rgba(0, 0, 255, 0.7),
                    rgba(255, 0, 255, 0.7));
    background-size: 400%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    position: relative;
    -webkit-filter: drop-shadow(2px 2px 5px inherit);
            filter: drop-shadow(2px 2px 5px inherit);
    isolation: isolate;
    box-shadow: 0;
    -webkit-animation: animate 8s linear infinite;
            animation: animate 8s linear infinite;
    margin: 0;
}

@-webkit-keyframes animate {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }

}

@keyframes animate {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }

}

@media (max-width:1020px) {
    header {
        padding: 25px 20px;
    }

    header a {
        font-size: 15px;
    }

    .logo {
        font-size: 1.2em;
    }

    nav a {
        padding-right: 2px;
    }

    section {
        padding: 6.25em 3.125em;
    }

    #lastcard {
        margin-right: 2em;
    }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #999;
}

::-webkit-scrollbar-thumb:hover {
  background: #666;
}